html,
body {
  height: 100%;
}

body {
  font-size: rem-calc(12.5);
  cursor: url("../img/cursor-ert.svg") 0 0, default;

  * {
    cursor: inherit;
  }

  @include breakpoint(medium) {
    font-size: rem-calc(14);
  }
}

main {
  height: 100%;
  padding: $page-padding;
  display: flex;
  flex-direction: column;
}

button {
  line-height: inherit;
}

.point-cursor {
  cursor: url("../img/cursor-point.svg") 0 0, default;
}

.logo {
  display: block;
  overflow: hidden;
  line-height: rem-calc(16.8);

  h1 {
    display: inline;
    font-family: 'Helvetica Black', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-weight: 900;
    line-height: rem-calc(16.8);

    span {
      visibility: hidden;
    }
  }

  p {
    visibility: hidden;
    display: none;

    span {
      font-size: rem-calc(11);
    }
  }

  &:hover {
    p {
      visibility: visible;
    }
  }

  &--expanded {
    p {
      display: inline;
      visibility: visible;

      span {
        visibility: hidden;
      }
    }

    &:hover {
      p span {
        visibility: visible;
      }
    }
  }

  @include breakpoint(medium) {
    &:not(.logo--expanded) p {
      display: inline;
    }
  }
}

#sheep-game-space {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: hidden;
  z-index: -99;
}

.sheep-game {
  cursor: url("../img/wolf.svg") 0 0, default;

  #sheep-game-space {
    visibility: initial;
    z-index: 99;
  }
}

.wobble-animation:hover {
  animation: wobble-skew 1s ease-in-out 1;
}

::selection {
  color: $secondary-color;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  background: white;
}

@keyframes wobble-skew {
  16.65% {
    transform: skew(-12deg);
  }
  33.3% {
    transform: skew(10deg);
  }
  49.95% {
    transform: skew(-6deg);
  }
  66.6% {
    transform: skew(4deg);
  }
  83.25% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(0);
  }
}
