body {
  height: 100vh;
  font-size: rem-calc(12.5);
  cursor: url("../img/cursor-ert.svg") 0 0, default;

  * {
    cursor: inherit;
  }
}

main {
  height: 100%;
  padding: $page-padding;
  display: flex;
  flex-direction: column;
}

.point-cursor {
  cursor: url("../img/cursor-point.svg") 0 0, default;
}

.logo {
  display: block;
  overflow: hidden;

  &--one-line {
    white-space: nowrap;
  }

  h1 {
    display: inline;
    font-family: 'Helvetica Black', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-weight: 900;

    span {
      visibility: hidden;
    }
  }

  p {
    visibility: hidden;
    display: inline;
  }

  &:hover {
    p {
      visibility: visible;
    }
  }

  &--expanded {
    cursor: inherit;

    p {
      display: inline;
    }
  }
}

.wobble-animation:hover {
  animation: wobble-skew 1s linear 1;
}

::selection {
  color: $secondary-color;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
  background: white;
}

@keyframes wobble-skew {
  16.65% {
    transform: skew(-12deg);
  }
  33.3% {
    transform: skew(10deg);
  }
  49.95% {
    transform: skew(-6deg);
  }
  66.6% {
    transform: skew(4deg); }
  83.25% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(0);
  }
}
