@font-face {
  font-family: "Helvetica Black";
  src: local("Helvetica Black"), url("../fonts/HelveticaLTProBlack.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Regular";
  src: local("Helvetica Regular"), url("../fonts/HelveticaLTPro.ttf");
  font-display: swap;
}
