@font-face {
  font-family: "Helvetica Black";
  src: local("Helvetica Black"), url("../fonts/HelveticaLTPro-Black.otf");
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Bold";
  src: local("Helvetica Bold"), url("../fonts/HelveticaLTPro-Bold.otf");
  font-display: swap;
}
