.footer {
  display: flex;
  justify-content: space-between;
  padding-top: rem-calc(12);

  &__separator {
    animation: blink 2s steps(1) infinite;
  }

  &__option {
    &--time {
      display: inline-flex;
    }

    & + .footer__option {
      margin-left: rem-calc(10);
    }
  }

  &__sheep {
    width: rem-calc(15);
    margin-right: rem-calc(10);
  }

  > div {
    flex-shrink: 0;
  }

  > div:nth-child(3) {
    display: flex;
    align-items: center;
  }

  &__random-image {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    padding: rem-calc(100);

    img {
      max-height: 100%;
    }

    &.visible {
      visibility: visible;
    }
  }

  &--random-image {
    .footer__random-image {
      visibility: visible;
    }
  }

  &__detail {
    overflow: hidden;
    flex-shrink: 1 !important;
    margin: rem-calc(0 20);
    width: 100%;
  }

  &__detail-text {
    animation: ticker 20s linear infinite;
    white-space: nowrap;
    display: none;

    &.visible {
      display: block;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes ticker {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
