.gallery {
  height: 100%;

  &__description {
    display: none;
    position: absolute;
    overflow-y: auto;
    height: calc(100vh - 5rem);
    z-index: 1;
    white-space: pre-line
  }

  @include breakpoint(medium) {
    &__description {
      display: none;
    }
  }
}

.gallery-header {
  display: grid;
  grid-template: 1fr / 3.5rem 1fr auto;
  grid-gap: rem-calc(10);
  padding-bottom: rem-calc(12);
  position: relative;

  @include breakpoint(medium) {
    grid-gap: rem-calc(20);
  }

  .logo {
    > div {
      position: absolute;
      background-color: $white;
      z-index: 1;

      p {
        display: none;
      }
    }

    @include breakpoint(medium) {
      &:hover > div {
        width: 100%;

        p {
          display: initial;
        }
      }
    }
  }

  &__collection,
  &__actions {
    display: none;
  }

  &__text-container {
    position: relative;
  }

  &__name--desktop {
    display: none;
  }

  @include breakpoint(medium) {
    grid-template: 1fr / 1fr 1fr 1fr 1fr auto;

    &__collection,
    &__actions {
      display: initial;
    }

    &__name--desktop {
      display: initial;
    }

    &__name--mobile {
      display: none;
    }
  }
}
