.invitation-banner {
  font-family: "Times New Roman", serif;
  display: grid;
  background-color: #89f94e;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 1;

  &.hidden {
    display: none;
  }
}

.home {
  height: 100%;
  display: grid;
  grid-template: 1fr/20% 1fr 1.7fr;
  grid-gap: rem-calc(10);
  overflow: hidden;
  position: relative;

  @include breakpoint(medium) {
    grid-template: 1fr / 20% 1fr 2fr;
    position: initial;
    grid-gap: rem-calc(20);
  }

  &__list {
    overflow-y: hidden;
    display: flex;
    flex-direction: column;

    &--with-image {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
    }

    ul {
      overflow: auto;
      max-height: 100%;
      padding: 0 rem-calc(5);
    }

    h2 {
      padding: 0 rem-calc(5);
    }

    li {
      display: none;

      &.active,
      &:hover {
        color: $secondary-color;
      }

      &.visible {
        display: block;
      }
    }
  }

  .home__image {
    display: block;
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity .15s ease-in-out;
    max-width: 0;
    height: 0;

    &.visible {
      position: absolute;
      bottom: 0;
      max-width: 50%;
      height: auto;
      visibility: visible;
      opacity: 1;

      @include breakpoint(medium) {
        position: initial;
        max-width: 100%;
        bottom: initial;
      }
    }
  }

  &__list--products li {
    white-space: pre-line;
  }

  &__list--descriptions,
  &__list--specifics,
  &__list--years {
    display: none;

    li {
      color: initial !important;
    }
  }

  &__list--descriptions,
  &__list--specifics {
    li {
      white-space: pre-line;
    }
  }

  @include breakpoint(medium) {
    grid-template: 1fr / 25% 1fr 1fr 1fr 1fr auto;

    &__list--descriptions,
    &__list--specifics,
    &__list--years {
      display: flex;
    }
  }
}
