<footer class="footer">
    <div>
        <a href="{{root}}gallery" class="point-cursor">Lookbook</a>
    </div>
    <div>
        <span class="footer__option">Milan</span>
        <span class="footer__option footer__option--temperature">12°</span>
        <span class="footer__option footer__option--time">
            <span class="footer__hour"></span>
            <span class="footer__separator">:</span>
            <span class="footer__minute"></span>
        </span>
        <span class="footer__option footer__option--date"></span>
    </div>
</footer>
