<footer class="footer">
    <div>
        <a href="{{root}}gallery/kingdom-01" class="footer__gallery-link point-cursor">Lookbook</a>
    </div>
    <div class="footer__detail">
        <div class="footer__detail-text footer__detail-text--weather"></div>
        <div class="footer__detail-text footer__detail-text--news"></div>
    </div>
    <div>
        <img class="footer__icon footer__icon--sheep" src="{{root}}assets/img/sheep.jpg" alt="">
        <img class="footer__icon footer__icon--news" src="{{root}}assets/img/news-icon.svg" alt="">
        <span class="footer__option">Milan</span>
        <span class="footer__option footer__option--temperature"></span>
        <span class="footer__option footer__option--time">
            <span class="footer__hour"></span>
            <span class="footer__separator">:</span>
            <span class="footer__minute"></span>
        </span>
        <span class="footer__option footer__option--date"></span>
    </div>
    <div class="footer__random-image">
        <img src="" alt="random image">
    </div>
</footer>
