<div class="slideshow">
  <div class="slideshow__slides">
    {{#each slideshow}}
      <div data-name="{{this.name}}" data-description="{{this.description}}" class="slideshow__slide">
        <img src="{{this.image}}" alt="collection image">
      </div>
    {{/each}}
  </div>
  <div class="slideshow__prev"></div>
  <div class="slideshow__next"></div>
  <div class="slideshow__counter">
    Image <span class="slideshow__image-position"></span> of <span class="slideshow__images-count"></span>
  </div>
</div>
